html,body {
	background:#FFCCCC;
}

h1 {
	color:#FF0000;
	text-align:center;
	text-decoration:underline;
}

h2 {
	color:#0000FF;
	text-align:center;
	font-size:16px;
}

p {
	font-style:italic;
}

p#l1 {
	color:#FF3333;		
}

p.l2 {
	color:#CC0033;
	text-decoration:underline;
}