html,body {
	background:#beecb8;
}

h1 {
	color:#4e3edd;
	text-align:center;
	text-decoration:underline;
}

h2 {
	color:#d853d8;
	text-align:center;
	font-size:16px;
}

p {
	font-style:italic;
}

p#l1 {
	color:#923c3c;		
}

p.l2 {
	color:#06383a;
	text-decoration:underline;
}